---
import { getCollection } from "astro:content";
import { Picture, getImage } from "astro:assets"; // Import getImage
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import SectionSub from "@/components/sectionsub.astro";
import Link from "@/components/ui/link.astro";

const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft;
});

// Convert string-based avatar.src to image objects
for (const member of publishedTeamMembers) {
  if (typeof member.data.avatar.src === "string") {
    member.data.avatar.src = await getImage({ src: member.data.avatar.src });
  }
}
---

<Layout title="Participantes">
  <Container>
    <SectionSub>
      <Fragment slot="title">👷‍♀️ Confirmación de participantes</Fragment>
      <Fragment slot="desc">Estamos revisando las solicitudes de actividades enviadas. Nos iremos poniendo en contacto poco a poco y revelando las confirmaciones en nuestras redes sociales, y publicándolo en la web.</Fragment>
    </SectionSub>
    <SectionSub align="center">
      <Fragment slot="title">✍️ Formulario de autoedición</Fragment>
      <Fragment slot="desc">Las personas con libros autopublicados que quieran participar pueden mandar su solicitud a través de <Link href="https://docs.google.com/forms/d/e/1FAIpQLScRG6UIYfadyJ2UXYLy7H-vsLzl7FPwzK0jBWIdyoZrvMVfEQ/viewform" class="contents" target="_blank">este formulario</Link>, donde se detallan los requisitos. Las personas seleccionadas se comprometen a coordinarse con el resto de participantes de manera autónoma para establecer los turnos durante la feria. Los detalles están en el formulario.</Fragment>
    </SectionSub>
    <Sectionhead>
      <Fragment slot="title">✨ Participantes ✨</Fragment>
      <Fragment slot="desc">Lista de ponentes, talleristas y participantes de actividades que se han confirmado</Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Link href={`${teamMemberEntry.data.link}`} class="contents" target="_blank">
                <Picture
                  src={teamMemberEntry.data.avatar.src}
                  alt={teamMemberEntry.data.avatar.alt}
                  sizes="(max-width: 800px) 100vw, 400px"
                  width={400}
                  height={400}
                  class="w-full rounded-sm transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
                />
              </Link>
            </div>

            <div class="mt-4">
              <h2 class="pb-2 text-lg text-gray-800 text-center">
                <Link href={`${teamMemberEntry.data.link}`} class="contents" target="_blank">
                  {teamMemberEntry.data.name}
                </Link>
              </h2>
              {/* <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3> */}
              <p>
                {teamMemberEntry.data.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
